@{
    ViewData["Title"] = "Mixes";
}

<div style="text-align: center; padding-bottom: 50px">
    <a style="display: inline-block;">
        <img src="https://i.imgur.com/5zMAJBi.png" alt="MeleeMusicNet Banner" style="width: 50%; height: auto;" />
    </a>
</div>

<div class="text-center" style="padding-bottom: 400px">
    <h1 class="display-4">Artists</h1>
    <h3>Coming Soon!</h3>
    <p>...</p>
</div>

