@{
    ViewData["Title"] = "Connect";
}

<div style="text-align: center; padding-bottom: 50px">
    <a style="display: inline-block;">
        <img src="https://i.imgur.com/5zMAJBi.png" alt="MeleeMusicNet Banner" style="width: 50%; height: auto;" />
    </a>
</div>

<div class="text-center">
    <h1 class="display-4">Connect With Us!</h1>
    <h3>Subsribe To Our Newsletter</h3>
    <p>The most effecient way to receive updates about the launch of Melee Music</p>
</div>

<form class="form-horizontal" method="post" action="https://worker-email-list-b8ac.imnotkayne.workers.dev/">
    <div class="form-group">
        <label for="name">Name: * </label>
        <input type="text" class="form-control" name="name" placeholder="Enter Name" id="name" required />
    </div>

    <div class="form-group">
        <label for="email">Email: * </label>
        <input type="email" class="form-control" name="email" placeholder="Enter Email Address" id="email" required />
    </div>

    <div class="cf-turnstile" data-sitekey="0x4AAAAAAAQpdXX7YcDWPWmT"></div>
    <div class="form-group" style="padding-top: 35px; padding-bottom: 300px">
        <input type="submit" value="Submit" class="custom-button">
    </div>


</form>