@{
    ViewData["Title"] = "Cipher";
}

<h2>Profile: Cipher</h2>

<div class="artist-profile">
    <img src="https://i.imgur.com/link_to_cipher_photo.jpg" alt="Cipher Photo" style="float:left; margin-right: 20px; width: 200px; height: auto;" />

    <div class="artist-social-media">
        <a href="https://instagram.com/cipher" target="_blank">
            <img src="https://i.imgur.com/instagram_icon.png" alt="Instagram" width="50" height="50" />
        </a>
        <a href="https://facebook.com/cipher" target="_blank">
            <img src="https://i.imgur.com/facebook_icon.png" alt="Facebook" width="50" height="50" />
        </a>
        <!-- Add more social media links here -->
    </div>
</div>

<div class="artist-embed">
    <h3>Music</h3>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://soundcloud.com/cipher/sets/example-set"></iframe>
    <!-- Add YouTube video if needed -->
</div>
